@import '../../App.scss';

.questions {
    .questionList {
        .question {
          border: 1px solid lightgray;
          border-radius: 4px;
          padding: 20px 30px;
      display: block;
      text-decoration: none;
      transition: .3s;
      &:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      }
          .questionTitle {
            font-weight: bold;
            margin-bottom: 10px;
            display: inline-block;
            font-size: 20px;
            color: #259a9f;
            text-decoration: none;
          }
          .author {
            color: gray;
            display: flex;
            h3 {
              margin-right: 10px;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 0;
            }
            .date {
              font-size: 14px;
            }
          }
          .statistics{
            margin-bottom: 10px;
color:black;
            display: flex;
            h4{
              margin-bottom: 0;
              font-size: 15px;
              &:first-child{
                margin-right: 10px;
              }
            }
          }
      
        }
      }
    }
  