@import "../../App.scss";

.topMentors{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 20px;

    h2{
        color:$primary-color;
        margin-bottom: 0;
    }
    .allMentors{
        text-decoration: none;
        color: $primary-color;
    }
}

@media (max-width:768px) {
.topMentors{
    h2{
        font-size: 20px;
        margin-right: 10px;
    }
    a{
        font-size: 14px;
    }
}
}