@import '../../App.scss';

.carousel {
    height: 90vh;
    .container{
        height: 100%;
        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;
                .carouselContent{
                    height: 100%;
                    .carouselCaption{
  
                        h5{
                            font-size: 40px;
                            font-weight: bold;
                            margin-bottom: 30px;
                        }
                        p{
                            max-width: 500px;
                            margin-bottom: 30px;
                        }
                        a{
                            background-color:$primary-color;
                            color:white;
                            padding: 10px 30px;
                            text-decoration: none;
                            border-radius: 4px;

                        }
                    }
                }
            }
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-image: none;
    }
    .carousel-item {
      .carouselContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sliderImg{
            width: 50%;
            text-align: center;
            img {
              object-fit: contain;
              height: auto;
              max-width: 100%;
              margin: auto;
            }
        }
      }
    }
  
    span[class*="carousel-control"] * {
        color:grey;
        font-size: 50px;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 10%;
    }
    .carousel-indicators [data-bs-target]{
        background-color:$primary-color;
    }
  }

@media (max-width:768px) {
    .carousel{
        max-height: 450px;
        span[class*=carousel-control] *{
            font-size: 30px;
        }
        .carousel-item {
            .carouselContent{
                flex-direction: column;
                padding-top: 20px;
                justify-content:flex-start;
                .sliderImg{
                    margin-top: 5px;
                    width: 60%;
                    max-height: 200px;
                    order: -1;
                    margin-bottom: 20px;
                    img{
                        object-fit: contain;
                    }
                }
                .carouselCaption{
                    z-index: 1;
                    h5{
                        font-weight: 500 !important;
                        font-size: 30px !important;
                        margin-bottom: 10px !important;
                    }
                    p{
                        margin-bottom: 15px !important;

                    }
                }
            }
        }
      }
}