@import "../../App.scss";

.mentors {
    .mentorTitle{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        border-radius: 4px;
        padding: 20px 30px;
        margin-bottom: 30px;
        h4{
            color:$primary-color;
        }
        p{
            color:#302929;
        }
    }
 
}
